/*
   Young Notes Base Style Sheet
   
   Author:    Amira Kokan, Kartikkumar Patel
	  Date:      4/29/2021
	  
	  Filename:  table_styles.css
	  Supporting files: none
   
*/

table {
    font-size: 17px;
    border-collapse: collapse;
    margin: 10px auto;
    width: 400px;   
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
    vertical-align: top;
    padding: 5px;
}

tr td:nth-of-type(2), tr td:nth-of-type(3) {
    text-align: right;
}
